on:
  workflow_dispatch: null
  push:
    branches: main
  schedule:
    - cron: '55 3-21 * * *' # 5:55 to 22:55 Europe/Berlin Summer Time (UTC+2)
name: Update Dashboard
jobs:
  update-dashboard:
    runs-on: ubuntu-24.04
    container:
      image: docker://rocker/geospatial:4.5.1
    permissions:
      contents: write
      pages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install jq for Quarto inside container
        run: |
          apt-get update
          apt-get install -y jq
      - name: Setup Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Render and publish to GitHub Pages
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          KEY: ${{ secrets.KEY }}
          API: ${{ secrets.API }}
